{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
  <form action="" method="post">
    <div>
      <input type="text" name="item" id="item" placeholder="Add an item" required></input>
      <input type="submit" value="Add item" />
    </div>
  </form>
  <div class="row">
    <div class="col-md-12">
      <h2>Incomplete Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.incomplete_items %}
        <li>
          <p>
            {{item.name}}
          </p>
            {% if item.status == incomplete %}
            <form action="{{url_for('complete_item', item_id=item.id)}}" method="post">
              <input type="submit" value="Complete" title="Complete"></input>
            </form>
            {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-12">
      <h2>Complete Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.complete_items %}
        <li>
          <p>
            {{item.name}}
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}